* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9afff1;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.parent {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
   
}

.calc {

    height: 80vh;
    width: clamp(40vw, 40vw, 80vw);

    background-color: hsl(214, 100%, 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 20px 17px 0px 9px rgba(0, 0, 0, 0.3);
}

.upper {
    height: 5rem;
    margin-bottom: 2vh;
    width: 31rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.displaycalc {
    height: 11vh;
    width: 34vw;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-items: flex-end;
    align-items: center;

}

.displaycalc:hover {
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    gap: 0.5vw;
    margin-bottom: 5vh;

}

.fontbig {
    font-size: x-large;
}

.fontbigx {
    font-size: xx-large;
}

#buttons button {
    height: 10vh;
    width: 8vw;
    background:linear-gradient(131deg,#89fff9,#cfffe5,#c5acff);
    color: #ff04de;
    font-size: x-large;
    outline: none;
    border: none;
    
}

#buttons button:hover {
    border-radius: 10px;
}

.ope {
    color: hsl(251, 100%, 62%) !important;
    font-size: large-x !important;
    font-weight: 700;
}

.op {
    font-size: xx-large !important;
}
.red{
    background-color: red !important;
}

@media (max-width: 1000px) {
    .calc {
        width: 70vw;
    }

    #buttons {
        row-gap: 1vw;
        column-gap: 5vh;
    }

    #buttons button {
        width: 12vw;
    }
    .displaycalc{
          width: 80vw;
    }
}

@media (max-width: 685px) {
    .calc {
        width: 70vw;
    }

    #buttons {
        row-gap: 1vw;
        column-gap: 3vh;
    }

    #buttons button {
        width: 12vw;

    }
    .displaycalc{
          width: 60vw;
    }

}
@media (max-width: 500px) {
    .calc {
        width: 82vw;
    }

    #buttons {
        row-gap: 3vw;
        column-gap: 3vh;
        margin: 0;
    }

    #buttons button {
        width: 14vw;
        padding: 1px;
        height: 60px;
        border-radius: 16px;        
    }
    .displaycalc{
          width: 80vw;
    }
    .calc{
         box-shadow: 12px 3px 2px 9px rgba(0, 0, 0, 0.3);
    }

}